<h1 class="text-center">Deposit Balance</h1>

<div class="col-md-8 offset-md-3">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label> Balance</label>
      <input
        class="form-control"
        type="number"
        id="balance"
        name="balance"
        placeholder="Enter Balance"
        [(ngModel)]="account.balance"
      />
    </div>

    <div *ngIf="accountCreate" class="alert alert-success">
      Account Created Successfully
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <br />
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
